<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cook pot</title>
    <link rel="stylesheet" href="/spectre.min.css" />
    <link rel="stylesheet" href="/spectre-exp.min.css" />
    <link rel="stylesheet" href="/spectre-icons.min.css" />
    <link rel="stylesheet" href="/layout.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=yes"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <!-- Naviagtion part -->
    <div class="headerAdjusting">
      <header class="navbar hide-md">
        <section class="navbar-section">
          {{! <a href="/" class="navbar-brand mr-2">Home</a> }}
          <a href="/" class="btn btn-link">Home</a>
          <a href="/recipes" class="btn btn-link">Recipes</a>

          {{#if isLoggedIn}}
            <a href="/createRecipe" class="btn btn-link">Create Recipe</a>
          {{/if}}

          <a href="/blogPosts" class="btn btn-link">Blogs</a>

          {{#if isLoggedIn}}
            <a href="/createBlogPost" class="btn btn-link">Create Blog Post</a>
          {{/if}}

          <a href="/aboutme" class="btn btn-link">About Me</a>

          <a href="/contactme" class="btn btn-link">Contact Me</a>

          {{#unless isLoggedIn}}
            <a href="/login" class="btn btn-link">Login</a>
          {{/unless}}

          {{#if isLoggedIn}}
            <a href="/logout" class="btn btn-link">Logout</a>
          {{/if}}

          <a href="/search" class="btn btn-link"> Search</a>

        </section>

        <section class="navbar-section">
          <div class="input-group input-inline">
            <a href="/" class="btn btn-link logo">Cook Pot</a>
          </div>
        </section>
      </header>

      <!-- Humburger Menu resposive  -->
      <div class="off-canvas show-md">
        <!-- off-screen toggle button -->

        <a
          class="off-canvas-toggle btn btn-primary btn-action"
          href="#sidebar-id"
        >
          <i class="icon icon-menu"></i>
        </a>

        <div id="sidebar-id" class="off-canvas-sidebar">
          <!-- off-screen sidebar -->
          <div id="adjustingBurgerMenu">
            <li> <a href="/" class="navbar-brand mr-2">Home</a> </li>
            <li> <a href="/recipes" class="btn btn-link">Recipes</a> </li>

            {{#if isLoggedIn}}
              <li>
                <a href="/createRecipe" class="btn btn-link">Create Recipe</a>
              </li>
            {{/if}}

            <li><a href="/blogPosts" class="btn btn-link">Blogs</a></li>

            {{#if isLoggedIn}}
              <li><a href="/createBlogPost" class="btn btn-link">Create Blog
                  Post</a></li>
            {{/if}}

            <li> <a href="/aboutme" class="btn btn-link">About Me</a> </li>

            <li>
              <a href="/contactme" class="btn btn-link">Contact Me</a>
            </li>

            {{#unless isLoggedIn}}
              <li> <a href="/login" class="btn btn-link">Login</a> </li>
            {{/unless}}

            {{#if isLoggedIn}}
              <li><a href="/logout" class="btn btn-link">Logout</a></li>
            {{/if}}

            <li>
              <section class="navbar-section">
                <div class="input-group input-inline">
                  <button class="btn btn-primary input-group-btn">
                    <a href="/search" class="showLink"> Search</a>
                  </button>
                </div>
              </section>
            </li>

          </div>
        </div>

        <a href="/" class="btn btn-link logo2">Cook Pot</a>

        <a class="off-canvas-overlay" href="#close"></a>

        <div class="off-canvas-content">

          <!-- off-screen content -->
          <div id="BodyAdjusting"> {{{body}}} </div>
          <footer id="footer">
            Copyright Dina Mostafa - 2022
          </footer>
        </div>
      </div>
    </div>

    <div class="hide-md">{{{body}}}</div>

    <footer id="footer">
      Copyright Dina Mostafa - 2022
    </footer>

  </body>
</html>