<h1>This is about me page</h1>

<div class="columns col-gapless">

  <div class="column col-6">

    <div class="card">
      <div class="card-image">
        <img src="webOwner.jpg" class="img-responsive" />
      </div>

    </div>
    <div class="column col-6">

      <div class="card">

        <div class="card-header">
          <div class="card-title h5">Hi I'm Laura</div>
        </div>

        <div class="card-body">
          here will be text about me
        </div>

      </div>

    </div>
  </div>

 