<div class="adjustingPages">
  <h1>About Me</h1>

  <div class="card-image">
    <img src="aboutMe.jpg" class="img-responsive" />
  </div>

  <div class="card-header adjustingText">
    <div class="card-title h5">Hi I'm Laura</div>
  </div>

  <div class="card-body adjustingText">
    here will be text about me
  </div>

</div>