<div class="adjustingPages">
  <h1 class="pageHeadings">About Me</h1>

  <div class="card-image">
    <img src="aboutMe.jpg" class="img-responsive" />
  </div>

  <div class="card-header addMargin">
    <div class="card-title h5 subHeading">Hi I'm Laura</div>
  </div>

  <div class="card-body adjustingText">
    Welcome to my world!!, where passion meets precision in every dish. With a
    rich background in global kitchens, I bring a fusion of flavors inspired by
    my travels. Embracing a farm-to-table philosophy, I'm committed to crafting
    memorable experiences using fresh, locally sourced ingredients. Beyond the
    kitchen, I'm a storyteller, sharing cultural narratives through my cooking
    classes and events. Join me on a gastronomic journey, where each plate tells
    a tale, and every bite creates a lasting memory. Let's savor the
    extraordinary together.
  </div>

</div>