<h1> This is contact me page</h1>

<div class="contactmeAdjustment">
  <div class="form-group">
    <label class="form-label" for="input-example-1">Name</label>
    <input
      class="form-input"
      type="text"
      id="input-example-1"
      placeholder="Name"
    />
  </div>

  <div class="form-group">
    <label class="form-label" for="input-example-1">E-mail</label>
    <input
      class="form-input"
      type="text"
      id="input-example-1"
      placeholder="Email"
    />
  </div>

  <div class="form-group">
    <label class="form-label" for="input-example-3">Message</label>
    <textarea
      class="form-input"
      id="input-example-3"
      placeholder="Textarea"
      rows="3"
    ></textarea>
  </div>

  <button class="btn btn-primary"> Send </button>

</div>