<div class="adjustingPages">

  {{#each errors}}
    <li class="errosColor"> {{this}} </li>
  {{/each}}

  {{#if errors.length}}
    You can<a href="/login">login</a>
    here
  {{/if}}

  <h1> Are you sure you want to delete ?</h1>

  <form action="/deleteComment/{{id}}/{{blogPostId}}" method="POST">
    <input type="submit" value="delete" />
  </form>

</div>