<h1>projects</h1>

{{#if projects.length}}
  <ul>
    {{#each projects}}
      <li>
        <a href="/projects/{{id}}">
          {{title}}</a>

      </li>
    {{/each}}
  </ul>

{{else}}

  <p> wait for upcoming projects</p>

{{/if}}

{{! <div><a href="photography">Photography</a></div>
<div><a href="Paintings">Painting</a></div>
<div><a href="graphicDesigns">Graphic Designs</a></div>
<div><a href="sculptureDesigns"> Sculpture Designs</a></div> }}