<div class="adjustingPages">
  <div class="adjustingText">
    <p class="pageHeadings"> here what we found:</p>

    {{#if recipes.length}}

      {{#each recipes}}
        <li><a href="/recipes/{{id}}"> {{title}} </a></li>
      {{/each}}

    {{else}}
      <p> no match were found</p>
    {{/if}}
  </div>
</div>