<div class="hero bg-gray">
  <div class="hero-body">
    <div class="adjustingHero">
      <ul class="heroText thin-font"> Let's get </ul>
      <ul class="heroText2"> cooking</ul>
    </div>
  </div>
</div>

<div class="columns col-gapless">
  <div class="column col-xs-12 col-md-6">

    {{! cards stars here }}
    <div class="card">
      <div class="adjustingImg">
        <div class="card-image">
          <img src="foodHomePage.jpg" class="img-responsive" />
        </div>
      </div>
      <div class="card-header">
        <div class="card-title h5"> Hungry?</div>
        <div class="card-subtitle text-gray"><a href="/recipes ">Check out my
            recipes
          </a></div>
      </div>

    </div>
    {{! cards ends here }}

  </div>
  <div class="column col-xs-12 col-md-6">

    {{! cards stars here }}
    <div class="card">
      <div class="adjustingImg">
        <div class="card-image">
          <img src="owner4.jpg" class="img-responsive" />
        </div>
      </div>
      <div class="card-header">
        <div class="card-title h5"> Who I'm?</div>
        <div class="card-subtitle text-gray"><a href="aboutMe">Read more about
            me here</a></div>
      </div>

    </div>
    {{! cards ends here }}

  </div>
</div>