.headerAdjusting {
  padding: 1%;
}

.startPage .heroText {
  color: #ffffff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
}

.loginAdjusment {
  margin-left: 1%;
  margin-right: 25%;
}

.contactmeAdjustment {
  margin-left: 1%;
  margin-right: 25%;
}
